#article-image {
    width: 400px;
    height: 300px;
}

.heading1 {
    font-size: 40px;
    color:rgb(51, 179, 136);
    font-style: italic;
}

.article-text {
    font-size: 25px;
    color:#b40e45;
    font-weight: 700;
}